ウィンドウ幅:940
ウィンドウ高さ:840
描画インターフェース:TEXTRENDERER
フレーム毎秒:7
PRINTCを並べる数:4
PRINTCの文字数:25
フォント名:ＭＳ ゴシック
フォントサイズ:16
一行の高さ:17
表示する最低警告レベル:0
文字色:192,192,192
背景色:0,0,0
選択中文字色:255,255,0
履歴文字色:192,192,192
セーブデータをsavフォルダ内に作成する:YES
呼び出されなかった関数を無視する:NO
関数が見つからない警告の扱い:DISPLAY
同名の非イベント関数が複数定義されたとき警告する:YES
ロード時に引数を解析する:YES
