;〓表示〓
PRINTCを並べる数:4
PRINTCの文字数:27

;〓フォント〓
フォント名:ＭＳ ゴシック
フォントサイズ:16
一行の高さ:16
文字色:192,192,192
背景色:0,0,0
選択中文字色:255,255,0
履歴文字色:192,192,192

;〓システム〓
大文字小文字の違いを無視する:YES
_Rename.csvを利用する:NO
_Replace.csvを利用する:YES
ボタンの途中で行を折りかえさない:YES
サブディレクトリを検索する:YES
読み込み順をファイル名順にソートする:YES
セーブデータをUTF-8で保存する:YES

;〓互換性〓
ユーザー関数の引数に自動的にTOSTRを補完する:YES

;〓解析〓
eramaker互換性に関する警告を表示する:NO
